*.csv
*.pkl
*.pickle
*.pyc
lsf.*
*.json
.vscode/*
.vscode*
.vscode
*.ini
*.h5
*.txt
*.pt
*.sdf
*.html
*json
*.pdb
*.sdf
*.DS_Store
*.xlsx
*.xtboptok
*.out
*_topo
*hessian
*vibspectrum
*.log
*charges
*wbo
*xtbrestart
*.mol
*csv.gz
*tar.gz
*gz


